body {
    font-family: 'Hind', sans-serif;
}

.page-wrapper {
    min-height: 100vh;
    width: 100%;
    background: #eee;
    padding: 0 100px;

    display: flex;
    align-items: center;
    
    box-sizing: border-box;
    position: relative;
}

.project-list {

    mix-blend-mode: difference;

    &:hover {
        .project-title {
            opacity: 0.1;
        }
    }

    .project-item {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
            .project-title {
                opacity: 1;
            }
        }
        &:last-of-type {
            margin-right: 0px;
            
            .project-title:after{
                content: '';
            }
        }
    }

    .project-title {
        transition: opacity .35s cubic-bezier(0.77, 0, 0.175, 1);
        font-size: 80px;
        color: #eee;
        font-weight: 300;

    }
}